<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.blinkt.openvpn">


    <application
        android:name=".core.ICSOpenVPNApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="LaunchVPN"
            android:taskAffinity=".LaunchVPN"
            tools:ignore="ExportedActivity" />

        <activity android:name=".api.ConfirmDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".api.GrantPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".api.RemoteAction" />

    </application>
</manifest>
